/* Colums  START> */
.cf_column {
    min-height: 20px;
    margin-bottom: 0;
}

.full {
    float: left;
    width: 100%;
}

.half {
    float: left;
    width: 50%;
}

.third_left {
    float: left;
    width: 33%;
}

.third_center {
    display: inline-block;
    width: 34%;
}

.third_right {
    float: right;
    width: 33%;
}

.fourth {
    float: left;
    width: 25%;
}

.threefourth_right {
    float: right;
    width: 75%;
}

.threefourth_left {
    float: left;
    width: 75%;
}

.twothird {
    float: left;
    width: 67%;
}

/* Columns  END> */

/* Default Parameter Entry Field */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: rgb(228, 228, 228);
}

.clear-both {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}
.modal-content {
    background-color: #2e2e2e;
}

/* Standard GUI BOX */
.gui_box {
    border: 1px solid #2e2e2e;
    background-color: #3f3f3f;
    float: left;
    width: calc(100% - 2px);
    margin-bottom: 10px;
    font-family: 'open_sansregular', Arial, serif;
}

.gui_box_titlebar {
    background-color: #3f3e3e;
    color: rgb(228, 228, 228);
    font-size: 13px;
    width: 100%;
    height: 27px;
    padding-bottom: 0;
    float: left;
    margin-bottom: 7px;
    font-family: 'open_sanssemibold', Arial, serif;
}

/* Spacers */
.spacer {
    padding-left: 7px;
    padding-right: 7px;
    width: calc(100% - 14px);
    float: left;
}

.spacer_box {
    padding: 10px;
    margin-bottom: 3px;
    color: rgb(228, 228, 228);
}

.spacer_box_title {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    margin-bottom: 0;
    float: left;
}

.spacer_left {
    padding-left: 15px;
    float: left;
    width: calc(100% - 15px);
}

.spacer_right {
    padding-right: 15px;
    width: calc(100% - 15px);
    float: left;
}

.header-dialog .parameter td:first-child label {

}

.header-dialog .parameter td:last-child label {
    border-top-right-radius: 0px;
}

.header-dialog .parameter label {
    background-color: #3f3f3f;
    padding: 4px;
    border-left: 0 solid #353535;
    border-bottom: 1px solid #676767;
    font-weight: normal;
    color: rgb(228 228 228);
    text-align: center;
    width:100%;
}

.header-dialog .parameter th {
    background-color: #353535;
    padding: 4px;
    border-left: 0 solid #353535;
    border-bottom: 1px solid #353535;
    font-weight: bold;
    color: rgb(228, 228, 228);
    text-align: left;
    padding-left: 10px;
}

.header-dialog .modal-dialog {
    width:75%;
    min-width:954px;
}

.header-dialog .cf tr {
    background-color: #3f3e3e;
}

.header-dialog .cf th {
    height: 19px;
    font-weight: normal;
}

.header-dialog .cf th:last-child {
    border-right: 0;
}

.header-dialog .cf input {
    margin: 0px;
    width: calc(100% - 10px);
    color: unset;
    color: #00a3e0 !important;
    font-weight: bold;
}

.header-dialog .cf select {
    margin: 0px;
    width: calc(100% - 10px);
    border: 1px solid silver;
    color: unset;
    color: #00a3e0 !important;
    font-weight: bold;
}

.header-dialog .cf input[type="select"]:disabled {
  color: unset;
  color: #00a3e0 !important;
  font-weight: bold;
}

.header-dialog input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}

.header-dialog table {
    float: right;
    margin: 0;
    padding-left: 10px;
    border-collapse: collapse;
    width: calc(100% - 1px);
    text-align: left;
}

.header-dialog .parameter td+input {
    padding: 1px;
    background-color:red;
    border-bottom: 0 solid #ccc;
}

.header-dialog table, .header-dialog table td {
    padding: 1px;
    border-bottom: 0 solid #ccc;
    color: rgb(228 228 228);
}

.header-dialog table th {
    padding: 0;
    border: 0;
    font-weight: normal;
}

.header-dialog .pid_titlebar th {
    padding: 5px;
    text-align: center;
    width: calc(100% - 1px);
}

.header-dialog .pid_titlebar th:first-child {
    text-align: left;
}

.header-dialog .pid_titlebar th:last-child {
    border-right: none;
}

.header-dialog table:not(.parameter) tr td:first-child {
    text-align: left;
    padding-left: 5px;
}

.header-dialog table tr td:last-child {
    border-right: 0 solid #ccc;
}

.header-dialog table td,
.header-dialog .pid_titlebar th {
    padding: 1px;
    width: 20%;
    background-color: #3f3e3e;
}

.header-dialog table tr td {
    text-align: left;
    padding-left: 0;
}

.header-dialog table input {
    display: block;
    width: calc(100% - 4px);
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0 solid #797979;
    color: rgb(228, 228, 228);
    background-color: #3f3e3e;
    padding-left: 20px;
    border-radius: 0;
}

.header-dialog .missing {
	background:rgba(255,0,0,0.2);
}

.header-dialog .static-features table {
    padding: 1px;
    border-right: 1px solid #ccc;
}

.header-dialog .controller {
    float: left;
    width: calc(100% - 10px);
    margin-left: 0;
    margin-bottom: 10px;
    border: 1px solid #4c4c4c;
}

.header-dialog .controller select {
    width: calc(100% - 10px);
    height: 20px;
    line-height: 20px;
}

.header-dialog .profile {
    float: left;
    width: calc(25% - 2px); /* - border*/
    border: 1px solid #4c4c4c;
}

.header-dialog .profile .head {
    display: block;
    text-align: left;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #828885;
    color: white;
    height: 19px;
    font-weight: normal;
    padding: 2px 2px 3px 6px;
}

.header-dialog .profile select {
    width: 100%;
    padding-left: calc(100% - 35px);
    height: 20px;
    line-height: 20px;
}

.header-dialog .cf select {
    width: calc(100% - 10px);
    border: 1px solid #3f3e3e;
    appearance: none;
    background-color: #3f3e3e;
    padding-left: 30px;
}

.header-dialog .pid_tuning .name {
    width: 25%;
}

.header-dialog .proportional {
    width: 25%;
}

.header-dialog .integral {
    width: 25%;
}

.header-dialog .derivative {
    width: 25%;
}

.header-dialog .cbox {
    width: 5%;
}

.header-dialog .cbox-label {
    width: 20%;
}

.header-dialog .cbox-description {
    width: 80%;
}

.header-dialog .parameter {
    float: right;
    width: calc(100% - 2px);
    margin-top: 10px;
    /* padding-left: 0; */
}

html:not(.isCF) .cf-only,
html:not(.isBF) .bf-only,
html:not(.isEMUF) .emuf-only, {
    /*display:none;*/
    /*visibility:hidden;*/
    opacity:0.25;
}

.header-dialog .top-buttons {
    float: right;
}

.header-dialog .fixed_band {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.header-dialog .spacer_box {
    padding-bottom: 10px;
    float: left;
    width: calc(100% - 5px);
}

.pid_mode {
    width: 100%;
    height: 25px;
    float: left;
    margin: 0;
    text-align: left;
    line-height: 13px;
    padding: 8px 0 0 5px;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    color: #828282;
    font-family: 'open_sans', Arial, serif;
}

.pid_titlebar {
    color: rgb(58, 58, 58);
    background-color: #ffffff;
    height: 20px;
}

.pid_titlebar td:first-child {
    text-align: left;
}

.show {
    width:110px;
    float:right;
    margin-right:3px;
}

.show a {
    margin-left: 10px;
    width: calc(100% - 10px);
}

.header-dialog .helpicon {
    margin-top: -1px;
}

.header-dialog .number .helpicon {
    margin-top: 3px;
    margin-right: 0;
}

.header-dialog .gui_box_titlebar .helpicon {
    margin-top: 5px;
    margin-right: 5px;
}

.header-dialog .numberspacer {
    float: left;
    width: 65px;
    height: 21px;
}

.header-dialog .number {
    margin-bottom: 5px;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
}

.header-dialog .number:last-child {
    padding-bottom: 5px;
    border-bottom: 0;
}

.header-dialog .number input {
    width: 50px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    margin-right: 11px;
    font-weight: normal;
}

.header-dialog .other  table td,
.header-dialog .rxMode table td,
.header-dialog .misc   table td
 {
    padding: 1px;
    border: 0 solid #ccc;
}

.header-dialog .noline td {
    border: 0 solid #ccc;
}

.header-dialog .features label,
.header-dialog .static-features label{
    /* width: 70px; */
    /* padding-left: 3px; */
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 0 solid silver;
    margin-right: 11px;
    font-weight: normal;
    font-size: 13px;
    width:90%;
}

.header-dialog .features span,
.header-dialog .static-features span {
    padding-right: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 0 solid silver;
    margin-right: 11px;
    font-weight: normal;
    font-size: 11px;
}

.header-dialog .gui_box span {
    font-style: normal;
    font-family: 'open_sansregular', Arial, sans-serif;
    line-height: 19px;
    color: #7d7d7d;
    font-size: 11px;
}

.noline {
	border:0;
}

.header-dialog .resetbt {
    width: 140px;
    float: right;
}

.header-dialog .right {
    float: right;
}

.header-dialog .pids {
    float: left;
    width: 25%;
}

.header-dialog .leftzero {
    padding-left: 0;
}

.header-dialog .tpa-breakpoint {
    border-top-left-radius: 0;
}

.header-dialog .pidTuningLevel {
    float: left;
}

.header-dialog .textleft {
    width: 25%;
    float: left;
    text-align: left;
}

.header-dialog .topspacer {
    margin-top:15px;
}

.header-dialog input[type='radio']:checked:after {
  /* prefer #00a3e0 but needs overhaul entire UI; */
  background-color: #3b89ec;
  border: 2px solid white;
  border-radius: 20px;
  visibility: visible;
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  /*top: 2px;*/
  /*left: 0px;*/
  position: relative;
}
