[Desktop Entry]
Name=emuflight Blackbox Explorer
Comment=Crossplatform blackbox analitics tool for EmuFlight flight control system
Exec=/opt/emuflight/emuflight-blackbox-explorer/emuflight-blackbox-explorer
Icon=/opt/emuflight/emuflight-blackbox-explorer/icon/emuf_icon_128.png
Terminal=false
Type=Application
MimeType=application/x-blackboxlog
